body {
    background-color: black;
    text-decoration-color: white;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*
    How It Works
    left: 50%; top: 50%; – Moves the element’s top-left corner to the center of its parent.

    translate(-50%, -50%) – Moves the element back by half of its own width and height, ensuring its center aligns with the parent’s center.
    */
}

h1 {
    color: red;
}

h2 {
    color: grey;
}

/* position */

h1, h2 {
    text-align: center; 
}

/* button position inside main */

main {
    display: flex;
    justify-content: center;
}

/* button */
.button {
    background-color: white;
    font-size: 100%;
    padding: 5% 10%;
    border-radius: 30px;
    border: none;
}

.button:hover {
    background-color: lightgreen;

    /* Glow effect */
    box-shadow: 0 0 20px lightgreen;
}